<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="../../css/stylesheet.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <nav>
            <div class="nav-left">
                <a id="logo" href="home.html">
                    <div id="site-logo" title="Home page">
                        <h1>Health Tracker</h1>
                    </div>
                </a>
            </div>

            <div class="nav-right">
                <a href="../home.html" id="home-link">Home</a>
                <a href="../my-data.html" id="my-data-link">My data</a>
                <a href="../about.html" id="about-link">About</a>
                <a href="signup.html" id="signup-link">Sign Up</a>
                <a href="signin.html" id="signin-link">Sign In</a>
            </div>
        </nav>
    </header>

    <div class="sign-container">
        <h2>Sign up</h2>

        <div id="error-message" class="error-message"></div>

        <form id="signup-form" class="signup-form">

            <label for="name-input">Name:</label>
            <input id="name-input" type="text" required>

            <label for="birth-date-input">Birth date:</label>
            <input id="birth-date-input" type="date" required>

            <label for="email-input">Email:</label>
            <input id="email-input" type="email" required>

            <label for="password-input">Password:</label>
            <input id="password-input" type="password" required>

            <label for="weight-input">Weight:</label>
            <input id="weight-input" type="number" min="0" oninput="validateInput(this)" required>

            <label for="height-input">Height:</label>
            <input id="height-input" type="number" min="0" oninput="validateInput(this)" required>

            <input type="submit" value="Sign in">
        </form>
    </div>

    <div class="empty-signup-container">
    </div>

    <footer>
        <p>Health-Tracker - is the education project</p>
        <p>© 2024 Miroslav Magnin</p>
    </footer>

    <script src="../../js/script.js"></script>
</body>

</html>