<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="../css/stylesheet.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <nav>
            <div class="nav-left">
                <a id="logo" href="home.html">
                    <div id="site-logo" title="Home page">
                        <h1>Health Tracker</h1>
                    </div>
                </a>
            </div>

            <div class="nav-right">
                <a href="../pages/home.html" id="home-link">Home</a>
                <a href="../pages/my-data.html" id="my-data-link">My data</a>
                <a href="../pages/about.html" id="about-link">About</a>
                <a href="sign/signup.html" id="signup-link">Sign Up</a>
                <a href="sign/signin.html" id="signin-link">Sign In</a>
            </div>
        </nav>
    </header>

    <h1>About</h1>

    <div class="container">
        <h2>This is the education project by the name "health-tracker"</h2>
        <p>Health-tracker is a microservices-based application designed to monitor users' health.
            The project consists of several services, including gateway-service, auth-service, and users-service.
        </p>
        <h3>Tech stack:</h3>
        <ul>
            <li>Java 21</li>
            <li>Spring Boot</li>
            <li>Spring Security (JWT-authentication)</li>
            <li>Spring Cloud Gateway</li>
            <li>Kafka</li>
            <li>PostgreSQL</li>
            <li>Docker</li>
        </ul>
        <h3>Key Features:</h3>
        <ul>
            <li>Frontend</li>
            <li>RESTful API</li>
            <li>Security: user authentication using JWT (Spring Security)</li>
        </ul>
    </div>

    <div class="container">
        <h2>Links</h2>

        <h3>GitHub: <a href="https://github.com/MiroslavMagnin/health-tracker" target="_blank">MiroslavMagnin/health-tracker</a></h3>
        <h3>Author's telegram: <a href="https://t.me/maxon_sam" target="_blank">Maxim Samusenko</a></h3>
        <h3>Author's VK: <a href="https://vk.com/mixsamus" target="_blank">Maxim Samusenko</a></h3>

    </div>

    <footer>
        <p>Health-Tracker - is the education project</p>
        <p>© 2024 Miroslav Magnin</p>
    </footer>

    <script src="../js/script.js"></script>

</body>
</html>