<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My data</title>
    <link rel="stylesheet" href="../css/stylesheet.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>

    <header>
        <nav>
            <div class="nav-left">
                <h1>Health Tracker</h1>
            </div>

            <div class="nav-right">
                <a href="../pages/home.html" id="home-link">Home</a>
                <a href="../pages/my-data.html" id="my-data-link">My data</a>
                <a href="../pages/about.html" id="about-link">About</a>
                <a href="../sign/signup.html" id="signup-link">Sign Up</a>
                <a href="../sign/signin.html" id="signin-link">Sign In</a>
            </div>
        </nav>
    </header>

    <h1>My data</h1>

    <div class="container">
    </div>

    <script src="../js/sign.js"></script>
</body>
</html>