<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My data</title>
    <link rel="stylesheet" href="../css/stylesheet.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <nav>
            <div class="nav-left">
                <a id="logo" href="home.html">
                    <div id="site-logo" title="Home page">
                        <h1>Health Tracker</h1>
                    </div>
                </a>
            </div>

            <div class="nav-right">
                <a href="../pages/home.html" id="home-link">Home</a>
                <a href="../pages/my-data.html" id="my-data-link">My data</a>
                <a href="../pages/about.html" id="about-link">About</a>
                <a href="sign/signup.html" id="signup-link">Sign Up</a>
                <a href="sign/signin.html" id="signin-link">Sign In</a>
            </div>
        </nav>
    </header>

    <h1>My data</h1>

    <div class="container" id="user-data-container">
        <h2>User info:</h2>
    </div>

    <div class="container" id="create-health-data-container">
        <h2>Create health data:</h2>

        <div id="create-health-data-elements">
            <button id="create-health-data-btn" type="button">Create</button>

            <dialog id="create-health-data-dialog">
                <div id="create-health-data-dialog-container">
                    <div class="create-header">
                        <h1>Create new health data</h1>
                    </div>

                    <div class="create-main">
                        <form class="create-health-data-form">
                            <div class="health-data-input">
                                <label for="date-input">Date: </label>
                                <input id="date-input" type="datetime-local" required>
                            </div>

                            <div class="health-data-input">
                                <label for="steps-input">Steps:</label>
                                <input id="steps-input" type="number" min="0" oninput="validateInput(this)" required>
                            </div>

                            <div class="health-data-input">
                                <label for="calories-input">Calories:</label>
                                <input id="calories-input" type="number" min="0" oninput="validateInput(this)" required>
                            </div>

                            <div class="health-data-input">
                                <label for="sleepHours-input">Sleep hours:</label>
                                <input id="sleepHours-input" type="number" min="0" oninput="validateInput(this)" required>
                            </div>

                            <div class="health-data-input">
                                <label for="heartRate-input">Heart rate:</label>
                                <input id="heartRate-input" type="number" min="0" oninput="validateInput(this)" required>
                            </div>

                            <div class="health-data-input">
                                <input id="submit-create-health-data-btn" type="submit" value="Create" >
                            </div>
                        </form>
                    </div>

                    <div class="create-bottom">
                        <button id="cancel-create-health-data-btn" type="button">Cancel</button>
                    </div>
                </div>
            </dialog>
        </div>

    </div>

    <div class="container" id="health-data-container">
        <h2>Health data:</h2>

        <div id="get-health-data-container">

        </div>
    </div>

    <footer>
        <p>Health-Tracker - is the education project</p>
        <p>© 2024 Miroslav Magnin</p>
    </footer>

    <script src="../js/script.js"></script>
</body>
</html>